@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary-normal: #ffffff;
  --color-text-light: #283845;
  --color-text-dark: #131313;
  --color-gradient-light: #656d9e;
  --color-gradient-dark: #454a68;
  --color-buttons-basic: #454a68;
  --color-buttons-hover: #445e73;
}

body {
  color: var(--color-text-light);
  background-color: var(--color-primary-normal);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.title {
  text-transform: uppercase;
  font-size: 47px;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/*hero-section*/
.hero-section {
  background-image: linear-gradient(0deg, rgba(62, 67, 97, 0) 0%, #30344c 60%),
    url('./img/bcg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 800px;
}

.hero-section__description {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.hero-section__text {
  padding-top: 106px;
  display: flex;
  flex-direction: column;
  width: 570px;
  gap: 40px;
}

.hero-section__title {
  color: var(--color-primary-normal);
  text-transform: uppercase;
  font-size: 47px;
  font-weight: 700;
}

.hero-section__desc {
  color: var(--color-primary-normal);
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 768px) and (min-width: 320px) {
  .hero-section {
    background-image: linear-gradient(0deg, rgba(62, 67, 97, 0) 0%, #30344c 60%),
      url('./img/bckg-mob.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: auto;
    box-sizing: border-box;
  }
  .hero-section__title {
    font-size: 36px;
    font-weight: 700;
  }

  .hero-section__description {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .hero-section__text {
    padding: 30px 20px;
    width: auto;
    height: 640px;
  }

  .hero-section__desc {
    font-size: 16px;
    font-weight: 600;
  }
}
/*form*/
.form {
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
  background-color: rgba(251, 251, 251, 0.2);
}

.email {
  width: 370px !important;
  height: 48px !important;
  background-color: var(--color-primary-normal);
  border: none !important;
  border-radius: 8px;
  margin-bottom: 30px !important;
}

.email::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  color: var(--color-text-dark);
}

.inp {
  width: 370px !important;
  height: 48px !important;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0);
}

.inp::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 20px;
}

.phone {
  height: 48px;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 15px;
  box-sizing: border-box;
  width: 255px;
  margin-left: -20px;
}

.phone::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.cantry {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
  background-color: rgba(206, 206, 206, 1);
  border-radius: 8px 0 0 8px;
  width: 120px;
  height: 38px;
}

.block {
  display: flex;
  align-items: center;
}

.img-flag {
  padding-top: 3.5px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 3.5px;
}

.cantry img {
  width: 25px;
  height: auto !important;
}

.cantry span {
  margin-right: 8px;
  font-size: 20px;
}

.btn {
  width: 374px;
  height: 59px;
  border-radius: 10px;
  background-color: var(--color-buttons-basic);
  border: none;
  color: var(--color-primary-normal);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-buttons-hover);
}

/*question-section*/
.question {
  background: linear-gradient(180deg, #656d9e 0%, #454a68 100%);
  padding: 40px 0 50px 0;
  color: var(--color-primary-normal);
  text-align: center;
}

.question__title {
  padding-bottom: 20px;
}

.question__text {
  display: flex;
  justify-content: space-between;
}

.slider {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-top: 30px;
}

.slider-img {
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 12;
  cursor: grab;
}

.slider-img-second {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
}

.slider-value {
  position: absolute;
  left: 0;
  width: 70px;
  padding: 5px 10px;
  background-color: var(--color-text-light);
  border: none;
  border-radius: 5px;
  text-align: center;
  pointer-events: none;
}
/*man-section*/
.man {
  padding-top: 100px;
}

.man__about {
  display: flex;
}
.man__img {
  margin-left: -20px;
  margin-right: 70px;
}

.man__rectangle-vertical {
  margin-top: 5px;
  margin-right: 30px;
}
.man-text-and-rec {
  display: flex;
}
.man__text {
  width: 530px;
}

.man__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.man__deck {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
}

.man__title-second {
  padding: 50px 0 30px 0;
  font-size: 24px;
  font-weight: 700;
}

.man_btn {
  margin-top: 30px;
  border-radius: 10px;
  background-color: var(--color-buttons-basic);
  border: none;
  color: var(--color-primary-normal);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  width: 370px;
  height: 59px;
  cursor: pointer;
}

.man_btn:hover {
  background-color: var(--color-buttons-hover);
}
/*question-answer-section*/
.question-answer__title {
  text-align: center;
  margin: 50px 0 30px 0;
  padding-left: 20px;
  padding-right: 20px;
}

.question-answer__img {
  margin-top: 50px;
}

.question-answer__img-mob {
  display: none;
}
/*beneficial-section*/
.beneficial__title {
  text-align: center;
  margin: 100px 0 50px 0;
}

.beneficial__icon {
  display: flex;
  justify-content: space-around;
}

.icon-block {
  text-align: center;
}

.icon-block img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
/*feedback-section*/
.feedback {
  margin-top: 100px;
}

.feedback__container {
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.15);
}

.feedback__title {
  text-align: center;
  margin-bottom: 40px;
}

.feedback__block {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 30px;
}

.feedback__desc {
  text-align: justify;
}

.feedbach__block-fix {
  height: 560px;
  padding: 30px;
}

.feedback__name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.feedback__profession {
  font-size: 16px;
  font-weight: 600;
}

.feedback__profit {
  margin: 20px 0 20px 0;
  font-size: 24px;
  font-weight: 700;
}

.feedback__img {
  margin-bottom: -10px;
}
/*footer-section*/
.footer {
  background-image: linear-gradient(
      0deg,
      rgba(101, 109, 158, 0.5) 0%,
      rgba(69, 74, 104, 1) 60%
    ),
    url('./img/footer-bckg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 54px 0 50px 0;
  margin-top: 100px;
}

.footer__container {
  display: flex;
  gap: 130px;
  color: var(--color-primary-normal);
}

.footer__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-footer {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(251, 251, 251, 0.2);
padding: 50px 10px;
}

.slider-img-second {
  max-width: 100%; /* максимальна ширина, щоб зменшуватися разом із шириною батьківського блоку */
  width: calc(
    100% - 40px
  ); /* відсоткова ширина мінус 20px відступи справа і зліва */
  height: auto; /* адаптується пропорціонально */
  margin: 0 20px; /* відступи справа і зліва по 20px */
}

@media (max-width: 768px) {
  .form {
    display: none;
  }
}

.form-mob {
  display: none;
}

@media (max-width: 768px) {
  .form-mob {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gradient-light);
  }

  .form-mob__block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(251, 251, 251, 0.2);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .email {
    width: 320px !important;
  }
  .inp {
    width: 320px !important;
  }
  .phone {
    width: 205px !important;
  }
  .cantry .img-flag {
    padding-top: 3.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3.5px;
  }
  .btn {
    width: 325px;
    height: 59px;
  }

  .question__title {
    font-size: 20px;
    width: auto;
    margin: auto;
    text-align: center;
  }
  .question__desc {
    font-size: 14px;
    padding: 0 20px;
  }

  .question__text-start {
    font-size: 14px;
    width: 121px;
    margin: auto;
    text-align: center;
  }
  .question__text-end {
    font-size: 14px;
    width: 121px;
    margin: auto;
    text-align: center;
  }
  .man__img {
    margin: -10px;
  }
  .man__img img {
    width: 330px;
    justify-content: center;
  }

  .man__about {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 30px 20px;
  }
  .man__rectangle-vertical img {
    height: 445px;
  }
  .man-text-and-rec {
    padding: 0;
  }

  .man__title {
    font-size: 20px;
    line-height: 1.2;
    width: auto;
    min-width: 300px;
    padding-bottom: 30px;
    margin-left: -20px;
  }

  .man__deck {
    font-size: 14px;
    width: auto;
    min-width: 300px;
    margin-left: -20px;
  }

  .man__title-second {
    font-size: 20px;
    line-height: 1.2;
    width: 100%;
    min-width: 300px;
    padding: 30px 0;
    margin-left: -20px;
  }

  .man_btn {
    width: 280px;
    height: 59px;
    margin-left: -20px;
  }

  .question-answer__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .question-answer_desc {
    font-size: 14px;
    padding: 0 20px;
  }
  .question-answer__img {
    display: none;
  }

  .question-answer__img-mob {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  .question-answer__profitable {
    display: grid;
    place-items: center;
  }

  .beneficial__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .beneficial__icon {
    display: block;
    font-size: 14px;
  }
  .icon-block {
    padding-bottom: 30px;
  }
  .feedback {
    margin-top: 70px;
  }
  .feedback__title {
    font-size: 20px;
    width: 320px;
    margin: auto;
  }

  .feedback__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feedback__container {
    height: auto;
    width: 320px;
  }

  .feedback__name {
    font-size: 20px;
  }

  .feedback__profit {
    font-size: 20px;
  }
  .feedback__desc {
    font-size: 14px;
    line-height: 1.57;
  }

  .feedback__img {
    margin-bottom: -10px;
    width: 320px;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
  }
  .footer__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .footer__text {
    font-size: 14px;
    line-height: 1.57;
  }
  .container {
    box-sizing: border-box;
  }
}
